# git submodule deinit –all -f
# git submodule update –init –recursive
# git submodule sync
# git submoudle update
[submodule "V8Engine/vendor/spdlog"]
	path = V8Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "V8Engine/vendor/GLFW"]
	path = V8Engine/vendor/GLFW
	url = https://github.com/glfw/glfw.git
